
#intro {
    padding-right: 70vw;
    padding-left: 70vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #003e60;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2vw;
    font-weight: bold;
    paint-order: stroke fill;
    

}

p {
    padding-right: 70vw;
    padding-left: 70vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #003e60;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2vw;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: 5px;

h2 {
    padding-right: 70vw;
    padding-left: 70vw;
    font-family:Impact, Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: #003e60;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 3vw;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: 30px;

}

ul {
    padding-right: 70vw;
    padding-left: 70vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #003e60;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2vw;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: 5px;
}

#welcome {
    padding-top: 30vw;
    padding-right: 70vw;
    padding-left: 70vw;
    color: #003e60;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 4vw;
    font-weight: bold;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
    width: 100%;
}

#platform {
    padding-right: 70vw;
    padding-left: 70vw;
    color: #003e60;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 4vw;
    font-weight: bold;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
}

a {
    -webkit-text-fill-color: #f86016;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2vw;
    font-weight: bold;
    paint-order: stroke fill;

}

.container-fluid{
    -webkit-text-fill-color: #003e60;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 4vw;
    font-weight: bold;
    paint-order: stroke fill;
    background-color: #f8f9fa;
}

.fix-stroke{
    paint-order: stroke fill;
}

#platform-width{
    width: fit-content;
    background-color: #003e6043;

}

#row-2{
    background-color: #003e60;
    width: 100%;
    row-gap: 0vw;
}

#welcomepage{
    background-color: white;
    width: 100%;
}

#platformpage{
    background-image: linear-gradient(white, #3c7597 );
    width: 100%;
}

#row-1{
    background-color: #003e6010;
    row-gap: 0vw;
}

footer{
    background-color: #003e60;
    row-gap: 0vw;
}

body{
    background-color: #003e60;
}

#banner{
    width: 100%;
}
